<form name="searchForm">
  <div class="form-floating mb-3 mt-3">
    <input type="text" id="productTitle" placeholder="Title" class="form-control">
    <label for="productTitle" class="form-label">Product title</label>
  </div>
  <div class="form-floating mb-3">
    <input type="number" id="productPrice" name="productPrice" min="0" placeholder="Price" class="form-control">
    <label for="productPrice" class="form-label">Product price</label>
  </div>
  <div class="form-floating mb-4">
    <select id="productCategory" class="form-select"></select>
    <label for="productCategory" class="form-label">Product category</label>
  </div>
  <div class="d-grid">
    <button type="submit" class="btn btn-primary">Search</button>
  </div>
</form>